<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>You're a Wizared Haaaaarrrrryyyyyy!!!</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src='/scripts/jquery.js'></script>
  <script src='/scripts/script.js'></script>
</head>
<body>
  <div class="nav">
    <h1><a href="/students">Students</a></h1>
    <h1><a href="/houses">Houses</a></h1>
  </div>
  <div class="main-container">
    <div class="student">
      <h2>enroll a new student</h2>
      <form class="new-student-form">
        <input class="new-student-fname" name="fname" type="text" placeholder="first name"><br>
        <input class="new-student-lname" name="lname" type="text" placeholder="last name"><br>
        <input class="new-student-image" name="image" type="text" placeholder="image url"><br>
        <select class="new-student-house" name="house" id="">
          <option value="0">Sorting Hat</option>
        {{ #houses }}
          <option value={{ id }}>{{ name }}</option>
        {{ /houses }}
        </select><br>
        <button>Enroll</button>
      </form>
    </div>
  </div>
</body>
</html>
